body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

h1 {
   margin-top: 50px auto 0 auto; 
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   font-weight: bold;
   color: #66bfbf;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    font-weight: bold;
    color: #66bfbf;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.profile-picture {
    width: 15%;
}

.top {
    background-color: aliceblue;
    position: relative;
    padding-top: 100px;
}

.mid {
    margin: 60px auto;
}

.profile {
    line-height: 2;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.skills {
}

.skill-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    
}

.headphones-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.cubase-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.button {
    margin: 30px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -o-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: linear-gradient(to bottom, #3cb0fd, #2bc4ad);
    text-decoration: none;
}

.contact-me {
    line-height: 2;
}

.horizon {
    color: lightgray;
    border: 6px dotted;
    border-top: none;
    width: 30px;
}

.bottom {
    height: 100px;
    background: #66bfbf;
    padding: 50px 0;
    text-align: center;
    line-height: 3;
}

.footer-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #11999e;
    margin: auto 20px;
}

.copyright {
    color: #eaf6f6;
}